@media (min-width:768px) and (max-width:1024px){
    nav{
        grid-template-columns: 1fr;
    }
    #logo{
        justify-content: center;
        margin: 0px;
    }
    nav ul{
        margin: 0px;
        justify-content: center;
    }
    section:nth-child(1) img{
        width: 100%;
    }
    section:nth-child(2){
        display: none;
    }
    #section3{
        grid-template-columns: 1fr;
        width: 100%;
    }
}
@media (min-width:320px) and (max-width:768px){
    nav{
        height: 100%;
        grid-template-columns: 1fr;
    }
    #section3{
        grid-template-columns: 1fr;
        width: 100%;
    }
    section:nth-child(2){
        display: none;
    }
    nav ul{
        align-items: center;
        flex-direction: column;
    }
    nav ul li{
        margin: 10px;
        padding: 0px;
        font-size: 1rem !important;
    }
    section:nth-child(1){
        flex-direction: column;
        align-items: center;
    }
    section:nth-child(1) img{
        width: 100%;
    }
    #logo{
        justify-content: center;
        margin: 0px;
    }
    nav ul{
        margin: 0px;
        justify-content: center;
    }
    footer ul{
        flex-direction: column;
        margin: 0px;
        align-items: center;
    }
    footer li{
        border: none;
    }
    .footercopy{
        font-size: 0.5rem !important;
    }

}